/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-variation-settings: 'wght' var(--main-font);
  min-inline-size: 320px;
  max-inline-size: 1440px;
  min-block-size: 100dvb;
  background-color: dimgrey;
}

.header { 
  align-items: center;
  padding-block-start: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);
  padding-block-end: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);
  margin-block: 100px;
  background-color: #fff;
}

.header-title {
  font-family: "PressStart2P-Regular";
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header-caption {
  font-family: var(--accent-font);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.width-border-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  inline-size: var(--content-width);
  border: 2px solid #000;
}

.card {
background-color: #fff;
margin-block-end: 50px;
}

.card-title {
padding-inline: 10px;
padding-block: 5px;
font-size: 18px;
}

.image {
  inline-size: 100%;
  border-block-start: 2px solid #000;
  border-block-end: 2px solid #000;
}

.card-description {
  padding: 25px;
}

.card-description-text {
  margin-block-end: 27px;
  line-height: 21px;
}

.card__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__icon-button {
  margin-inline-start: auto;
  margin-inline-end: 10px;
  border: none;
} 

.like-button {
  margin-block-start: 25px;
  margin-block-end: 25px;
  margin-inline-end: 25px;
  justify-self: right;
  width: 130px;
  height: 38px;
  font-family: var(--accent-font);
}

.image-wrapper {
  position: relative;
}

.lable {
  position: absolute;
  text-align: right;
  text-shadow:  -1px 0 var(--border-color), 
  0 1px var(--border-color), 
  1px 0 var(--border-color), 
  0 -1px var(--border-color);
  color: #000;
  font-family: var(--accent-font);
  font-size: 14px;
  top: 25px;
  right: 13px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

@supports ((-webkit-text-stroke: 1px var(--border-color)) or (text-stroke: 1px var(--border-color)))  {

  .lable {
    -webkit-text-stroke: 1px var(--border-color);
    text-stroke: 1px var(--border-color);
    mix-blend-mode: hard-light;
    opacity: 0.5;
    text-shadow: none;
  }
} 

