/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--main-font), sans-serif;
  font-size: 18px;
  font-variation-settings: 'wght' var(--main-font);
  min-inline-size: 320px;
  max-inline-size: 1440px;
  min-block-size: 100dvb;
  margin-inline: auto;
  background-image: var(--bg-gradient);
  background-position: center;
  background-attachment: fixed;
}

.content {
  display: flex;
  flex-direction: column;
}

.header {
  align-items: center;
  padding-block-start: var(--header-padding);
  padding-block-end: var(--header-padding);
  margin-block: 100px;
  background-color: var(--bg-color);
}

.header-title {
  font-family: var(--accent-font), sans-serif;
  font-size: var(--header-text-size);
}

.header-caption {
  font-family: var(--accent-font), sans-serif;
  font-size: var(--header-caption-text-size);
  text-transform: uppercase;
  margin-block-start: 20px;
}

.width-border-style {
  display: flex;
  flex-direction: column;
  justify-content: center;
  inline-size: var(--content-width);
  border: 2px solid var(--accent-color);
}

.card {
  background-color: var(--bg-color);
  margin-block-end: 50px;
}

.card-title {
  padding-inline: 10px;
  padding-block: 5px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--header-weight);
}

.image {
  inline-size: 100%;
  object-fit: cover;
  object-position: center;
  border-block: 2px solid var(--accent-color);
}

.card-description {
  padding-block-start: 20px;
  padding-inline: 25px;
}

.card-description-text {
  margin-block-end: 25px;
  line-height: 22px;
  font-variation-settings: 'wght' var(--text-weight);
}

.card__button {
  display: flex;
  align-items: center;
  padding-block-end: 25px;
}

.card__icon-button {
  display: flex;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-inline-start: auto;
  margin-inline-end: 7px;
  border: none;
  transition: 0.3s ease;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid var(--accent-color);
}

.card__like-button {
  margin-inline-end: 23px;
  justify-self: right;
  width: 130px;
  height: 39px;
}

.image-wrapper {
  position: relative;
}

.lable {
  position: absolute;
  text-align: right;
  text-shadow:
    -1px 0 var(--border-color),
    0 1px var(--border-color),
    1px 0 var(--border-color),
    0 -1px var(--border-color);
  color: var(--accent-color);
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  top: 25px;
  right: 13px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
}

@supports (
  (-webkit-text-stroke: 1px var(--border-color)) or
    (text-stroke: 1px var(--border-color))
) {

  .lable {
    -webkit-text-stroke: 1px var(--border-color);
    /* stylelint-disable-next-line property-no-unknown */
    text-stroke: 1px var(--border-color);
    mix-blend-mode: hard-light;
    text-shadow: none;
  }
}

.button-style {
  font-family: var(--accent-font), sans-serif;
  position: relative;
  display: inline-block;
  color: white;
  background-color: white;
  cursor: pointer;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.button-style svg {
  fill: var(--accent-color);
  z-index: 1;
  position: relative;
}

.button-style::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  block-size: 100%;
  inline-size: 100%;
  background: var(--accent-color);
  transform: translateX(-100%);
  transition: 0.5s ease-in-out;
}

.button-style:hover::after {
  transform: translateX(0);
}

.button-style:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
  outline: none;
}

.save-memory-button {
  display: flex;
  font-family: var(--accent-font), sans-serif;
  justify-content: center;
  align-items: center;
  width: 335px;
  height: 51px;
  font-size: 14px;
  margin-block-end: 100px;
  align-self: center;
}

.floppy-icon {
  color: var(--accent-color);
  width: 21px;
  height: 21px;
  margin-inline-end: 8px;
}

.button-style:hover .floppy-icon {
  fill: var(--bg-color);
  color: var(--bg-color);
  z-index: 1;
  transition: 0s ease-in-out;
}

.button__text {
  font-size: 14px;
  z-index: 1;
  align-self: center;
  position: relative;
  mix-blend-mode: difference;
}

dialog {
  border: 2px solid var(--accent-color, #000);
}

dialog::backdrop {
  background-color: var(--accent-color);
  opacity: 0.75;
}

.dialog-window {
  display: flex;
  margin-inline: 30px;
  margin-block: 30px;
  align-items: center;
  flex-shrink: 0;
  width: var(--dialog-window-button-weight);
}

.dialog-floppy-icon {
  width: 39px;
  height: 39px;
  margin-inline-end: 20px;
  flex-shrink: 0;
}

.dialog-window__text {
  text-transform: uppercase;
  font-family: var(--accent-font), sans-serif;
  line-height: 150%;
  font-size: 14px;
}

.dialog-window-button {
  width: var(--dialog-window-button-weight);
  height: 38px;
  text-transform: uppercase;
  margin-inline: 30px;
  margin-block-end: 30px;
}

.like-icon {
  width: 39px;
  height: 36px;
}

.filter-brightness {
  filter: brightness(20%);
}

.filter-contrast {
  filter: contrast(125%);
}

.filter-opacity {
  filter: opacity(0.9);
}

.filter-grayscale {
  filter: grayscale(0.5);
}

.filter-saturate-hue-rotate {
  filter: saturate(130%) hue-rotate(-90deg);
}

.filter-hue-rotate {
  filter: hue-rotate(-90deg);
}

.filter-invert {
  filter: invert(0.05);
}

.filter-blur {
  filter: blur(0.01rem);
}

@media (width <= 375px) {

  .page {
    --content-width: clamp(20rem, 0rem + 100vw, 23.4375rem);
    --header-text-size: clamp(2.625rem, 0.0795rem + 12.7273vw, 3.0625rem);
    --header-caption-text-size: clamp(0.75rem, 0.0227rem + 3.6364vw, 0.875rem);
    --dialog-window-button-weight: clamp(
      14.125rem,
      2.8523rem + 56.3636vw,
      16.0625rem
    );
  }

  .floppy-icon {
    width: 28px;
    height: 28px;
    margin-block-end: 8px;
    margin-inline-end: 0;
  }

  .save-memory-button {
    flex-direction: column;
    width: 306px;
    height: 84px;
    margin-block-end: 103px;
  }
}
